/*=====================================/
    Aspectos Generales
/=====================================*/
* {
  margin: 0;
  padding: 10;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  height: 100%; }
  html body {
    background-color: #EEF5F8;
    font-size: 10px;
    height: 100%;
    font-family: "Quattrocento Sans", sans-serif; }
    html body p {
      font-size: 1.4em;
      color: #666;
      margin-bottom: 1em; }
      html body p:last-child {
        margin-bottom: 0; }
    html body .bold {
      font-weight: 700; }

/*=====================================/
    Cabecera
/=====================================*/
#cont-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  #cont-menu #fecha {
    padding: 30px 60px 20px 0;
    color: gray; }

.menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 30px 60px 20px; }
  .menu li {
    list-style: none;
    font-size: 1.4em;
    margin-left: 60px; }
    .menu li a {
      color: #666;
      text-decoration: none; }
      .menu li a:hover {
        color: #40D1FA;
        text-shadow: 0 1px 3px #eee; }

.banner {
  width: 100%;
  background-image: url(../img/cara-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #fff;
  border-bottom: 30px solid #005b81; }
  .banner .titulo-cabecera {
    text-align: center;
    margin-right: 120px; }
    .banner .titulo-cabecera h1 {
      font-size: 3em; }
    .banner .titulo-cabecera p {
      color: #fff; }
  .banner .bienvenido {
    width: 35%; }
    .banner .bienvenido p {
      font-size: 2em;
      color: #fff;
      text-align: center;
      line-height: 1.8; }
  .banner .contenedor {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
    .banner .contenedor .logo {
      width: 16.66%;
      position: relative;
      top: 30px; }
      .banner .contenedor .logo img {
        width: 100%; }

/*=====================================/
    Contenido
/=====================================*/
.wrapper {
  margin: auto;
  width: 83.33333333%;
  max-width: 1200px; }

.seccion {
  padding: 15px 0; }

.seccion-seguros {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.caja-seguros {
  width: 190px;
  background-color: #fff;
  padding: 148px 30px 30px;
  -webkit-box-shadow: 0 0 3px 3px #ccc;
  box-shadow: 0 0 3px 3px #ccc;
  position: relative;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin: 15px 0; }
  .caja-seguros:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-box-shadow: 0 0 5px 5px #aaa;
    box-shadow: 0 0 5px 5px #aaa; }
  .caja-seguros h2 {
    font-size: 1.8em;
    background-color: rgba(0, 91, 129, 0.85);
    padding: 10px 0 10px 15px;
    width: 100%;
    position: absolute;
    left: -15px;
    top: 85px; }
    .caja-seguros h2 a {
      color: #eee;
      text-decoration: none; }
      .caja-seguros h2 a:hover {
        color: #fff; }
  .caja-seguros .bisel-titulo {
    position: absolute;
    left: -15px;
    top: 125px; }
  .caja-seguros li {
    font-size: 1.4em; }
    .caja-seguros li a {
      color: #666;
      text-decoration: none; }
      .caja-seguros li a:hover {
        color: #40D1FA;
        text-shadow: 0 1px 3px #eee; }

.seguro-salud {
  background-image: url(../img/seguro-salud.jpg);
  background-size: 100%;
  background-position: top center;
  background-repeat: no-repeat; }

.seguro-vida {
  background-image: url(../img/seguro-vida.jpg);
  background-size: 100%;
  background-position: top center;
  background-repeat: no-repeat; }

.seguro-patrimonio {
  background-image: url(../img/seguro-patrimonio.jpg);
  background-size: 100%;
  background-position: top center;
  background-repeat: no-repeat; }

.nosotros {
  background-image: url(../img/nosotros.jpg);
  background-size: 100%;
  background-position: top center;
  background-repeat: no-repeat; }

.contacto {
  background-image: url(../img/contacto.jpg);
  background-size: 100%;
  background-position: top center;
  background-repeat: no-repeat; }

#informativo {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.titulo-informativo {
  text-align: center;
  background-color: #005b81;
  color: #fff;
  font-size: 3em;
  padding: 20px; }

.subtitulo {
  color: #005b81;
  font-size: 2em; }

.caja-informativo {
  padding: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: space-between;
  -ms-flex-line-pack: justify;
  align-content: space-between; }
  .caja-informativo .titulo-informativos {
    font-size: 1.8em;
    margin-bottom: 0.7em;
    color: #005b81; }
  .caja-informativo p {
    text-align: justify; }
  .caja-informativo .video-informativo {
    margin-top: 15px; }

#info1, #info-amplio1 {
  background-color: #C9F2F7; }

#info2, #info-amplio2 {
  background-color: #E6FAFF; }

#info3, #info-amplio3 {
  background-color: #E0F1F3; }

#info4, #info-amplio4 {
  background-color: #AAD4F7; }

.btn-leer {
  background-color: #005b81;
  font-size: 1.4em;
  border-radius: 5px;
  margin: 0 auto; }
  .btn-leer a {
    color: #ddd;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    width: 100%;
    height: 100%; }
    .btn-leer a:hover {
      background-color: #006d9b;
      border-radius: 5px; }

.video-informativo {
  width: 100%; }
  .video-informativo iframe {
    width: 100%; }

.informativo-amplio {
  padding: 30px; }
  .informativo-amplio .video-informativo {
    height: 300px; }
    .informativo-amplio .video-informativo iframe {
      height: 100%; }
  .informativo-amplio .titulo-informativos {
    font-size: 2.4em;
    margin: 1em 0;
    color: #005b81; }
  .informativo-amplio p {
    text-align: justify; }

.agencias-home {
  background-color: #fff;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px 0; }
  .agencias-home .agencia-home {
    width: 16%; }
    .agencias-home .agencia-home img {
      width: 100%;
      display: block; }

/*==============================================
=                     Footer                    =
===============================================*/
footer {
  width: 100%;
  background-color: #005b81;
  padding: 30px 0 60px; }
  footer .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end; }
    footer .wrapper p {
      color: #bbb;
      line-height: 0.7em; }
    footer .wrapper .icon {
      color: #bbb;
      font-size: 1.5em;
      margin-right: 7px;
      position: relative;
      top: 5px; }
    footer .wrapper .barra {
      margin: 0 8px; }
    footer .wrapper #izquierda,
    footer .wrapper #derecha {
      width: 50%; }
    footer .wrapper #derecha {
      text-align: right; }

/*=============  Fin de Footer  ==============*/
/*==============================================
=             Formulario de contacto            =
===============================================*/
#form-contacto {
  padding: 30px;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #d9d9d9; }
  #form-contacto #inputs, #form-contacto #textarea {
    width: 48.5%; }
  #form-contacto #boton {
    width: 100%;
    text-align: center; }
    #form-contacto #boton #btn {
      width: 20%;
      background-color: #005b81;
      font-size: 1.4em;
      border-radius: 5px;
      color: #ddd;
      cursor: pointer;
      margin-bottom: 0;
      margin-top: 10px; }
      #form-contacto #boton #btn:hover {
        background-color: #006d9b;
        border-radius: 5px; }
  #form-contacto input, #form-contacto textarea {
    width: 100%;
    padding: 7px;
    font-size: 1.2em;
    margin-bottom: 10px;
    border: none;
    border: 1px #d9d9d9; }
    #form-contacto input:focus, #form-contacto textarea:focus {
      border: 1px #40D1FA; }
  #form-contacto textarea {
    resize: none;
    height: 180px; }

.asesores {
  margin: 15px 0;
  padding: 15px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .asesores .asesor-pic {
    width: 30%; }
    .asesores .asesor-pic img {
      width: 100%;
      display: block;
      border-radius: 50%;
      -webkit-box-shadow: 2px 2px 3px 3px #ccc;
      box-shadow: 2px 2px 3px 3px #ccc; }
  .asesores .asesor-dato {
    width: 70%;
    padding-left: 15px; }
    .asesores .asesor-dato p {
      margin-bottom: 0;
      line-height: 1.5; }
    .asesores .asesor-dato .cargo {
      font-size: 2em;
      font-weight: 700;
      color: #005b81; }
    .asesores .asesor-dato .datos {
      font-size: 1.4em; }

/*======  Fin de Formulario de contacto  =======*/
/*=====================================/
   Debajo de 768px
/=====================================*/
@media screen and (max-width: 768px) {
  .menu {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .menu li {
      margin-left: 30px; }
      .menu li:first-child {
        margin-left: 0; }
  .banner .titulo-cabecera {
    margin-right: 0; }
  .banner .bienvenido {
    display: none; }
  .banner .contenedor .logo {
    width: 25%; } }
