@import "_variables.scss";

/*=====================================/
    Aspectos Generales
/=====================================*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    height: 100%;
    
    body {
        background-color: #EEF5F8;
        font-size: 10px;
        height: 100%;
        font-family: "Quattrocento Sans", sans-serif;
        
        p {
            font-size: 1.4em;
            color: $gris-letras;
            margin-bottom: 1em;
            
            &:last-child {
                margin-bottom: 0;
            }
        }
        
        .bold {
            font-weight: 700;
        }
    }
}


/*=====================================/
    Cabecera
/=====================================*/

#cont-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    #fecha {
        padding: 30px 60px 20px 0;
        color: lighten($gris-letras, 10%);
    }
}

.menu {
    display: flex;
    justify-content: flex-end;
    padding: 30px 60px 20px;
    
    li {
        list-style: none;
        font-size: 1.4em;
        margin-left: 60px;
        
        a {
            color: $gris-letras;
            text-decoration: none;
            
            &:hover {
                color:$azul-fondo;
                text-shadow: 0 1px 3px #eee;
            }
        }
    }
}

.banner {
    width: 100%;
//    height: 300px;
    background-image: url(../img/cara-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    border-bottom: 30px solid $azul-footer;
    
    .titulo-cabecera {
        text-align: center;
        margin-right: 120px;
        
        h1 {
            font-size: 3em;
        }
        
        p {
            color: #fff;
        }
    }
    
    .bienvenido {
        width: 35%;
        
        p {
            font-size: 2em;
            color: #fff;
            text-align: center;
            line-height: 1.8;
        }
    }
    
    .contenedor {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        .logo {
            width: 16.66%;
            position: relative;
            top: 30px;
            
            img {
                width: 100%;
            }
        }
    }
}


/*=====================================/
    Contenido
/=====================================*/

.wrapper {
    margin: auto;
	width: 83.33333333%;
	max-width: 1200px;
}

.seccion {
    padding: 15px 0;
}

.seccion-seguros {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.caja-seguros {
    width: 190px;
    background-color: #fff;
    padding: 148px 30px 30px;
    box-shadow: 0 0 3px 3px #ccc;
    position: relative;
    transition: all 0.5s ease;
    margin: 15px 0;
    
    &:hover {
        transform: scale(1.1);
        box-shadow: 0 0 5px 5px #aaa;
    }
    
    h2 {
        font-size: 1.8em;
        background-color: rgba(0,91,129,0.85);
        padding: 10px 0 10px 15px;
        width: 100%;
        position: absolute;
        left: -15px;
        top: 85px;
        
        a {
            color: #eee;
            text-decoration: none;
            
            &:hover {
                color: #fff;
            }
        }
    }
    
    .bisel-titulo {
        position: absolute;
        left: -15px;
        top: 125px;
    }
    
    li {
        font-size: 1.4em;
        
        a {
            color: $gris-letras;
            text-decoration: none;
            
            &:hover {
                color: $azul-fondo;
                text-shadow: 0 1px 3px #eee;
                
            }
        }
    }
}

.seguro-salud {
    background-image: url(../img/seguro-salud.jpg);
    background-size: 100%;
    background-position: top center;
    background-repeat: no-repeat;
}

.seguro-vida {
    background-image: url(../img/seguro-vida.jpg);
    background-size: 100%;
    background-position: top center;
    background-repeat: no-repeat;
}

.seguro-patrimonio {
    background-image: url(../img/seguro-patrimonio.jpg);
    background-size: 100%;
    background-position: top center;
    background-repeat: no-repeat;
}

.nosotros {
    background-image: url(../img/nosotros.jpg);
    background-size: 100%;
    background-position: top center;
    background-repeat: no-repeat;
}

.contacto {
    background-image: url(../img/contacto.jpg);
    background-size: 100%;
    background-position: top center;
    background-repeat: no-repeat;
}

#informativo {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.titulo-informativo {
    text-align: center;
    background-color: $azul-footer;
    color: #fff;
    font-size: 3em;
}

.caja-informativo, .titulo-informativo {
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;

    .titulo-informativos {
        font-size: 1.8em;
        margin-bottom: 0.7em;
        color: $azul-footer;
    }

    p {
        text-align: justify;
    }
    
    .video-informativo {
        margin-top: 15px;
    }
}

#info1, #info-amplio1 {
    background-color: lighten(#EDF6EA, 0%);
}

#info2, #info-amplio2 {
    background-color: lighten(#B9D2C0, 5%);
}

#info3, #info-amplio3 {
    background-color: #E1EEEE;
}

 #info4, #info-amplio4 {
    background-color: lighten($azul-fondo, 20%);
}

.btn-leer {
    background-color: $azul-footer;
    font-size: 1.4em;
    border-radius: 5px;
    margin: 0 auto;

    a {
        color: #ddd;
        text-decoration: none;
        display: block;
        padding: 10px 20px;
        width: 100%;
        height: 100%;

        &:hover {
            background-color: lighten($azul-footer, 5%);
            border-radius: 5px;
        }
    }
}

.video-informativo {
    width: 100%;
    
    iframe {
        width: 100%;
    }
}

.informativo-amplio {
    padding: 30px;
    
    .video-informativo {
        height: 300px;
        
        iframe {
            height: 100%;
        }
    }
    
    .titulo-informativos {
        font-size: 2.4em;
        margin: 1em 0;
        color: $azul-footer;
    }

    p {
        text-align: justify;
    }
}


/*==============================================
=                     Footer                    =
===============================================*/

footer {
    width: 100%;
    background-color: $azul-footer;
    padding: 30px 0 60px;

    .wrapper {
        display: flex;
        align-items: flex-end;
        
        p {
            color: #bbb;
            line-height: 0.7em;
        }

        .icon {
            color: #bbb;
            font-size: 1.5em;
            margin-right: 7px;
            position: relative;
            top: 5px;
        }
        
        .barra {
            margin: 0 8px;
        }
        
        #izquierda,
        #derecha {
            width: 50%;
        }
        
        #derecha {
            text-align: right;
        }
    }
}

/*=============  Fin de Footer  ==============*/



/*==============================================
=             Formulario de contacto            =
===============================================*/

#form-contacto {
    padding: 30px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: lighten($gris-letras, 45%);
    
    #inputs, #textarea {
        width: 48.5%;
    }
    
    #boton {
        width: 100%;
        text-align: center;
        
        #btn {
            width: 20%;
            background-color: $azul-footer;
            font-size: 1.4em;
            border-radius: 5px;
            color: #ddd;
            cursor: pointer;
            margin-bottom: 0;
            margin-top: 10px;
            
            &:hover {
                background-color: lighten($azul-footer, 5%);
                border-radius: 5px;
            }
        }
    }
    
    input, textarea {
        width: 100%;
        padding: 7px;
        font-size: 1.2em;
        margin-bottom: 10px;
        border: none;
        border: 1px lighten($gris-letras, 45%);
        
        &:focus {
            border: 1px $azul-fondo;
        }
    }
    
    textarea {
        resize: none;
        height: 180px;
    }
}

.asesores {
    margin: 15px 0;
    padding: 15px 0;
    display: flex;
    align-items: center;
    
    .asesor-pic {
        width: 30%;
        
        img {
            width: 100%;
            display: block;
            border-radius: 50%;
            box-shadow: 2px 2px 3px 3px #ccc;
        }
    }
    
    .asesor-dato {
        width: 70%;
        padding-left: 15px;
        
        p {
            margin-bottom: 0;
            line-height: 1.5;
        }
        
        .cargo {
            font-size: 2em;
            font-weight: 700;
            color: $azul-footer;
        }
        
        .datos {
            font-size: 1.4em;
        }
    }
}

/*======  Fin de Formulario de contacto  =======*/

@import "_responsive.scss";